<html>
  <head>
  	 <style type="text/css"> 
      h1{ font-size: 16px; font-family:"Segoe print", Arial, Helvetica, sans-serif;}

      h2{font-size: 16px; 
        font-family:"Arial", Helvetica, sans-serif; color: blue; 
        font-weight :bold; text-align:center; display:inline; }

   </style> 
     
  </head>
  <body>
    <h1>hello from  <h2><%= node['fqdn'] %></h2> </h1>
  </body>
</html>
